<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <style>
      .container {
        width: 60%;
        margin: 2rem auto;
        padding: 2rem;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        border-bottom: 4px solid black;
        margin-bottom: 2rem;
        width: 75%;
      }

      p {
        line-height: 1.4;
        font-size: 1.1rem;
      }
    </style>
</head>
<body>
    <div class="container">
      <h1>Password Reset</h1>

      <p>
        Click the link below to reset your password.
      </p>
      <a href="<%= resetPasswordUrl %>"><%= resetPasswordUrl %></a>
    </div>
  </body>
</body>
</html>